### IntelliJ IDEA ###
.idea/      # Thêm dòng này để bỏ qua thư mục cấu hình dự án của IntelliJ
*.iml       # Thêm dòng này để bỏ qua các tệp cấu hình module của IntelliJ
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Build Output ###
# Thêm mục này để bỏ qua output của các công cụ build
target/   # Output mặc định của Maven
build/    # Output mặc định của Gradle